@model LanguageTranslation.Web.ViewModel.TranslationViewModel

<tr class="clickable-row">
    <td></td>
    <td>@Model.Text</td>
</tr>
<tr class="extra-info-row hidden-row">
    <td colspan="3">@Model.Translated</td>
</tr>
